.clearfix {
  clear: both;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
  clear: both;
}
.sizing-border {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.sizing-content {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -o-box-sizing: content-box;
}
.image_h img{
  width: 100% !important;
}
